body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nihad{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.prim{
    color: #ff0202;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.button{
    border-radius: 5px;
    background: #ff0202;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .pic{
    width: 300px;

}
.ban1{
    font-size: 30px;
    margin-bottom: 0px;
}
.ban2{
    font-size: 50px;
    font-weight: 700;
}
.ban-con{
    max-width: 500px;
}